name: Actions

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'
jobs:
  docs:
    name: Deploy documentation to GitHub Pages
    runs-on: ubuntu-latest
    steps:
    - name: Run the action to move documentation
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./boomstick_api/doc/build
        allow_empty_commit: true
